@media all and (min-width: 767px) {  .playArea  { height:34%; width:34% } }

/* generic tablet horizontal */
@media all and (min-width: 767px) {  .playArea  { height:34%; width:34% } }

/* generic tablet vertical */
@media all and (min-width: 767px) {  .playArea  { height:34%; width:34% } }

/* iPad 2 - horizontal */
@media all and (width: 1024px) and (height: 768px) {  .playArea  { height:34%; width:34% }  } }

/* iPad 2 - vertical */
@media all and (width: 768px) and (max-height: 1024) {  .playArea  { height:34%; width:34% }  } }

/* iPad 3 - horizontal */
@media all and (width: 768px) and (height: 1023) {  .playArea  { height:34%; width:34% }  } }

/* iPad 3 - vertical */
@media all and (width: 768px) and (height: 1023) {  .playArea  { height:34%; width:34% }  } }

@media all and (min-width: 800px) {  .playArea  { height:34%; width:34% } }
